<?xml version="1.0" encoding="UTF-8"?>
<widget xmlns:tizen="http://tizen.org/ns/widgets" xmlns="http://www.w3.org/ns/widgets" id="http://yourdomain/AlarmUI" version="1.0.0" viewmodes="maximized">
    <tizen:app-control>
        <tizen:src name="index.html"/>
        <tizen:operation name="http://tizen.org/appcontrol/operation/default"/>
    </tizen:app-control>
    <tizen:app-control>
        <tizen:src name="wake.html"/>
        <tizen:operation name="http://tizen.org/appcontrol/operation/send"/>
    </tizen:app-control>
    <tizen:application id="wgy6KlNQ5q.AlarmUI" package="wgy6KlNQ5q" required_version="2.2"/>
    <content src="index.html"/>
    <feature name="http://tizen.org/feature/screen.size.normal"/>
    <feature name="http://tizen.org/api/alarm" required="true"/>
    <feature name="http://tizen.org/api/alarm.read" required="true"/>
    <feature name="http://tizen.org/api/alarm.write" required="true"/>
    <icon src="icon.png"/>
    <name>AlarmUI</name>
    <tizen:privilege name="http://tizen.org/privilege/alarm"/>
    <tizen:privilege name="http://tizen.org/privilege/application.launch"/>
    <tizen:profile name="wearable"/>
    <tizen:setting background-support="disable" encryption="disable" hwkey-event="enable"/>
</widget>
